input[type="radio"] {
  display: none;
}

label {
  padding: 12px 20px;
  margin: 5px;
  border-radius: 8px;
  background: #3b82f6;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.graphs img {
  display: none;
  max-width: 800px;
  margin-top: 20px;
}


#rIDF:checked ~ .graphs .gIDF {
  display: block;
}

#rARA:checked ~ .graphs .gARA {
  display: block;
}

#rC:checked ~ .graphs .gC {
  display: block;
}

#rBFC:checked ~ .graphs .gBFC {
  display: block;
}

