
input { 
  display: none; 
}

label {
  padding: 8px 14px;
  margin: 4px;
  background: #2563eb;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.controls {
  margin-bottom: 15px;
}


.region {
  display: none;
}


#rIDF:checked ~ .graphs .rIDF { 
  display: block; 
}

#rARA:checked ~ .graphs .rARA { 
  display: block; 
}

#rC:checked  ~ .graphs .rC  { 
  display: block; 
}


.year {
  display: none;
}


#y2014:checked ~ .graphs .y2014 { 
  display: inline-block; 
}

#y2015:checked ~ .graphs .y2015 { 
  display: inline-block; 
}

#y2025:checked ~ .graphs .y2025 { 
  display: inline-block; 
}


.region img {
  max-width: 280px;
  margin: 10px;
}
